<div class='country_card'>
    <img 
    src={{this.flags.svg}}
    alt={{this.name.official}}
    height='40' width="50" 
    class='flag_country'
    />
    <h1 class='name_country'>{{this.name.official}}</h1>
</div>
<p><b>Capital</b>: {{this.capital}}</p>
<p><b>Population</b>: {{this.population}}</p>
<p><b>Languages</b>: {{this.languages}}</p>